* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: #fbfbfb;
}
.hidden{
    display: none !important;
}

@font-face {
    font-family: "popinsRegular";
    src: url("../fonts/Poppins-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "popinsSemiBold";
    src: url("../fonts/Poppins-SemiBold.ttf") format("truetype");
}
@font-face {
    font-family: "popinsBold";
    src: url("../fonts/Poppins-Bold.ttf") format("truetype");
}
legend {
    font-weight: bold;
    font-family: "popinsBold";
    display: flex;
    justify-content: center;
    padding: 24px 0;
}
label ,input::placeholder{
    font-family: "popinsRegular";
    color: #555555;
}
input::placeholder{
    opacity: 40%;
}

.forgetPassword{
    color: #7482FF;
    font-family: "popinsRegular";
}
.rememberMeLabel{
    color: #8E8E8E;
}
.usernameCheck, .emailCheck, .checkConfirmPassword {
    color: red;
    font-family: "popinsBold";
    text-align: center;
    padding: 5px 0 0 0;
}

.mainContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 100%;
}
.formSignIn,.formSignUp {
    background-color: white;
    padding: 0px 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.formSignIn {
    transition: 1.5s ease-in-out;
    transform: rotate3d(0,1,0,0deg);
    -webkit-transform: rotate3d(0,1,0,0deg);
    -moz-transform: rotate3d(0,1,0,0deg);
    -ms-transform: rotate3d(0,1,0,0deg);
    -o-transform: rotate3d(0,1,0,0deg);
    -moz-transition: 1.5s ease-in-out;
    -ms-transition: 1.5s ease-in-out;
    -o-transition: 1.5s ease-in-out;
    -webkit-transition: 1.5s ease-in-out;
}
.otherOptions {
    width: 100%;
    padding: 20px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.formSignUp {
    transform: rotate3d(0,1,0,-90deg);
    transition:1.5s ease-in-out;
    -webkit-transition:1.5s ease-in-out;
    -webkit-transform: rotate3d(0,1,0,-90deg);
    -moz-transform: rotate3d(0,1,0,-90deg);
    -ms-transform: rotate3d(0,1,0,-90deg);
    -o-transform: rotate3d(0,1,0,-90deg);
    -moz-transition:1.5s ease-in-out;
    -ms-transition:1.5s ease-in-out;
    -o-transition:1.5s ease-in-out;
}
.agree {
    height: 35px;
    padding: 5px;
    display: flex;
    align-content: center;
    align-items: center;
}


.input{
    all: unset;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content:space-between;
    height: 50px;
    border: 0.5px solid #2E2D29;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.containerModalStatus {
    position: absolute;
    width: 410px;
    left: 35px;
    top: -50px;
    z-index: 2;
    transition: 400ms ease-in;
    -webkit-transition: 400ms ease-in;
    -moz-transition: 400ms ease-in;
    -ms-transition: 400ms ease-in;
    -o-transition: 400ms ease-in;
}
.modalStatus{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "popinsSemiBold";
    width: auto;
    height: 50px;
    padding: 8px;
    background-color: rgba(79, 146, 223, 0.159);
    backdrop-filter: blur(45px);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
 .modalStatusImg {
    height: 25px;
    width: 25px;
    fill: red;
 }
.btnBackSignIn{
    margin: 10px 0px;
}
#passwordUser, #emailUser, #emailUserUp,#Username, #Password,#ConfirmPassword{
    width: calc(100% - 58px);
    border: none;
    margin-left: 8px ;

}
#emailUser:focus,#passwordUser:focus,#ConfirmPassword:focus,#Username:focus,#Password:focus,#emailUserUp:focus{
    outline: none;
}
.iconInputEmail,.iconInputPassword,.iconInputUserName{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2E2D29;
    border-radius: 0px 8px 8px 0 ;
    -webkit-border-radius: 0px 8px 8px 0 ;
    -moz-border-radius: 0px 8px 8px 0 ;
    -ms-border-radius: 0px 8px 8px 0 ;
    -o-border-radius: 0px 8px 8px 0 ;
}
.labelsForm {
    padding: 5px;
}
.rememberMe{
    display: flex;
    align-items: center;
}
.btnSignIn,.btnSignUp,.btnRegister ,.btnBackSignIn{
    color: white;
    font-family: "popinsSemibold";
    background-color: #2E2D29;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.opacity{
    opacity: 40%;
}
.sepertorSign{
    display: flex;
    align-content: center;
    justify-content: space-between;
    color: #C2C2C2;
    padding: 15px 0;
    height: 40px;
    align-items: center;
}
.line {
    height: 1px;
    background-color: #C2C2C2;
}
.agreeLabel,.rememberMeLabel {
    margin-left: 5px;
}

@media (min-width:300px) {
    .mainContainer{
        max-width: 480px;
        background-image: none;
    }
    .formSignUp,.formSignIn{
        width: 100%;
        height: 100%;
        box-shadow: 8px 8px 16px 4px snow;
    }
    .titelForm {
        font-size: 28px;
    }
    label{
        font-size: 10px;
    }
    .input {
        height: 41px;
    }
    input::placeholder{
        font-size: 8px;
        margin: auto 0;
    }
    .iconInputEmail,.iconInputPassword,.iconInputUserName {
        width: 40px;
    }
    .btnBackSignIn,.btnRegister,.btnSignUp,.btnSignIn{
        height: 40px;
    }
    .rememberMeLabel,.agreeLabel, .forgetPassword {
        font-size: 8px;
    }
    .sepertorSign{
        font-size: 10px;
    }
    .line{
        width: 45%;
    }
    .containerModalStatus{
        width: calc(100% - 70px);
        max-width: 410px;
        left: auto;
        right: auto;
        margin: 0 35px;
    }
    .usernameCheck, .emailCheck, .checkConfirmPassword {
        font-size: 12px;
    }
}



@media (min-width : 480px) {
    .mainContainer{
        margin: 0 auto;
    }
    .formSignIn,.formSignUp{
        height: 700px;
        border: 0.5px solid snow;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
        box-shadow: 1px 1px 1px 1px snow;
    }
}

@media (min-width: 992px) {
    .mainContainer {
        max-width: 100%;
        background-image: url(../img/Reg_01\ 1.png);
        background-size: cover;
    }
    .formSignUp,.formSignIn{
        width: 480px;
        margin-left: 50px;
    }
    .titelForm {
        font-size: 32px;
    }
    label{
        font-size: 14px;
    }
    .input {
        height: 51px;
    }
    input::placeholder{
        font-size: 12px;
        margin: auto 0;
    }
    .iconInputEmail,.iconInputPassword,.iconInputUserName {
        width: 50px;
    }
    .btnBackSignIn,.btnRegister,.btnSignUp,.btnSignIn{
        height: 50px;
    }
    .rememberMeLabel,.agreeLabel, .forgetPassword {
        font-size: 12px;
    }
    .sepertorSign{
        font-size: 10px;
    }
    .line{
        width: 45%;
    }
    .containerModalStatus{
        width: calc(100% - 70px);
        max-width: 410px;
        left: auto;
        right: auto;
        margin: 0 85px;
    }
    .usernameCheck, .emailCheck, .checkConfirmPassword {
        font-size: 12px;
    }

}